@import "src/scss/settings/index";

.form {
  background-image: url('/Background-Form_teddy.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 800px;
}