@import "src/scss/settings/index";

header {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  font-size: 14px;

  .header-link {
    color: $secondary-font-color;
    padding: 5px;
    margin: 5px;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid $gold-color;
    }
  }

  .hello {
    color: $secondary-font-color;
    padding: 5px;
    margin: 5px;
    border: 1px solid $gold-color;
  }
}