@import "src/scss/settings/index";

.home-start {
  display: flex;
  height: 100vh;

  .left-side {
    width: 40%;
    background-image: url("../assets/Home-Hero-Image.jpg");
    background-position: bottom right -100px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .right-side {
    width: 60%;
    height: inherit;
  }
}

.main-section {
  margin-top: 120px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin: 5px;
    font-size: 22px;
    font-weight: normal;
  }
}

.main-buttons {
  display: flex;
  justify-content: center;

  .main-button {
    color: $primary-font-color;
    text-align: center;
    font-size: 22px;
    padding: 5px;
    border: 1px solid $primary-font-color;
    width: 200px;
    margin: 10px;

    &:hover {
      cursor: pointer;
      color: $secondary-font-color;
      border: 1px solid $gold-color;
    }
  }
}